@media (max-width: 414px) {

  /*index page*/
  body{
    margin: 20px auto;
    padding: 15px 20px;
  }

  nav li{
    display: block;
    margin: 20px;
  }

  nav a{
    position: relative;
    top: 1px;
    display: block;
    padding: 8px;
    border: 1px solid #615050;
    background-color: #FAF7F0;
    text-decoration: none;
  }
  
  #school{
    grid-column: 1/3;
    grid-row: 4;
  }
  
  #places{
    grid-column: 1/3;
    grid-row: 5;
  }
  
  #places p,
  #school p{
    padding: 0;
  }

  #school p{
    margin-bottom: 0;
  }
  
  #contact{
    grid-column: 1/3;
    grid-row: 8;
  }

  #contact span{
    display: contents;
  }

  #contact p{
    display: inline-block;
    padding: 10px 5px;
    margin: 10px;
  }
  
  /*journalism page*/
  #working{
    grid-column: 1/3;
    grid-row: 5;
  }
  
  #orange{
    grid-column: 1/3;
    grid-row: 6;
    padding-top: 10px;
  }
  
  #packages h3{
    margin: 0;
  }

  figcaption{
    margin-bottom: 10px;
  }
  
  #packages figcaption{
    padding: 0;
  }  
  
  #packages figure{
    text-align: left;
  }
  
  #working p,
  #orange p{
    padding-right: 10px;
  }
  
  #working h4,
  #orange h4{
    margin: 10px 0;
    padding-right: 15px;
  }

  /*screenwriting page*/

  #abbott{
    grid-column: 1/3;
    grid-row: 4;
  }

  #pilot{
    grid-column: 1/3;
    grid-row: 5;
  }

  #masked{
    grid-column: 1/3;
    grid-row: 6;
  }

  #aspca{
    grid-column: 1/3;
    grid-row: 7;
  }

  #abbott h3,
  #pilot h3,
  #masked h3, 
  #aspca h3{
    margin: 10px 0;
  }

  /*sketches page*/

  #joker{
    grid-column: 1/3;
    grid-row: 4;
  }

  #utime{
    grid-column: 1/3;
    grid-row: 5;
  }

  #otw196{
    grid-column: 1/3;
    grid-row: 6;
  }

  #otw200{
    grid-column: 1/3;
    grid-row: 7;
  }

  #joker h3,
  #utime h3,
  #otw196 h3,
  #otw200 h3,
  #packages h3{
    margin: 0;
  }

  /*general*/
  img{
    margin-right: 20px;
    width: 100%;
  }

  p,
  li{
  font-size: 20px;
  }

  #welcome{
    padding: 10px 0;
  }

  h1{
    font-size: 40px;
  }

  h2{
    font-size: 35px;
  }

  iframe,
  img{
    border: none;
  }

  iframe{
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin: 5px 0;
  }

  h3{
    font-size: 30px;
  }

  h4{
    font-size: 25px;
  }
}